<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        let userInfo = {};
        userInfo.username = "<%-userInfo.username%>";
        userInfo.email = "<%-userInfo.emaiil%>";
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the dashboard</title>
</head>
<body>
   <h1>This is the Dashboard</h1>
   <p>
       Hello: <%-userInfo.username%>
   </p>
</body>
</html>